<!DOCTYPE html>
<html>
  <head>
    
    <title>Pond: Eat your friends!</title>
    
    <link rel='stylesheet' href='/stylesheets/style.css' />
    
    <meta property="og:title" content="Pond: Eat your friends!" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= url('') %>" />
    <meta property="og:image" content="<%= url('/images/logo.png') %>" />
    <meta property="og:site_name" content="<%= app.name %>" />
    <meta property="og:description" content="My first app" />
    <meta property="fb:app_id" content="<%= appID %>" />
    
    <script src="/javascripts/jquery-1.7.2.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascripts/main.js"></script>
    
    
    <script>
    var socketURL = "<%= url('') %>";
    </script>
  </head>
  <body>
    <%- body %>
  </body>
</html>